.u-section-1 .u-sheet-1 {
  min-height: 835px;
}

.u-section-1 .u-post-details-1 {
  min-height: 718px;
  margin-top: 40px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 23px 30px 0;
}

.u-section-1 .u-text-1 {
  margin: 77px 7px 0 31px;
}

.u-section-1 .u-metadata-1 {
  margin: 8px auto 0 30px;
}

.u-section-1 .u-text-2 {
  margin: 42px 8px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-metadata-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 443px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 383px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 305px;
  }
}