.u-section-1 .u-sheet-1 {
  min-height: 1614px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  margin: 20px 223px 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 0 425px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 112px 592px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 85px 682px 0 0;
}

.u-section-1 .u-image-1 {
  width: 279px;
  height: 279px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: -343px auto 0 543px;
}

.u-section-1 .u-image-2 {
  width: 281px;
  height: 281px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 79px 316px 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 109px 670px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 79px 0 0 529px;
}

.u-section-1 .u-image-3 {
  width: 385px;
  height: 66px;
  animation-duration: 1000ms;
  margin: -122px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 387px;
  height: 136px;
  animation-duration: 1000ms;
  margin: 31px auto 0 1px;
}

.u-section-1 .u-image-5 {
  width: 570px;
  height: 189px;
  animation-duration: 1000ms;
  margin: 1px auto 0 529px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 694px;
    margin-left: 123px;
    margin-right: 123px;
  }

  .u-section-1 .u-text-2 {
    width: 290px;
    margin-left: 325px;
    margin-right: 325px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 392px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 482px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 524px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 524px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 470px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 89px;
    margin-left: 388px;
  }

  .u-section-1 .u-image-3 {
    width: 278px;
    height: 49px;
    margin-top: -132px;
    margin-left: 11px;
  }

  .u-section-1 .u-image-4 {
    width: 289px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-left: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1741px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 215px;
    margin-right: 215px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 172px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 170px;
  }

  .u-section-1 .u-image-1 {
    width: 193px;
    height: 193px;
    margin-top: 112px;
    margin-left: 102px;
  }

  .u-section-1 .u-image-2 {
    width: 194px;
    height: 194px;
    margin-top: -193px;
    margin-right: 85px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 171px;
    margin-right: 250px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 120px;
    margin-left: 391px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -216px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 62px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1682px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 125px;
    margin-right: 125px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 46px;
  }

  .u-section-1 .u-image-2 {
    margin-right: auto;
    margin-left: 301px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 125px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 86px;
    margin-left: 301px;
  }

  .u-section-1 .u-image-3 {
    width: 270px;
    height: 44px;
    margin-top: -255px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    width: 270px;
  }

  .u-section-1 .u-image-5 {
    height: 179px;
    margin-top: 85px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1839px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 152px;
    height: 152px;
    margin-top: 99px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    width: 152px;
    height: 152px;
    margin-top: -152px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 161px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 189px;
    margin-right: 129px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    height: 57px;
    margin-top: -413px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    height: 269px;
    width: 85px;
    margin-top: 62px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    height: 113px;
    margin-top: 96px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1230px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 84px 918px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 94px 216px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 113px 691px 0 84px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: -64px 94px 0 644px;
}

.u-section-2 .u-image-1 {
  width: 177px;
  height: 136px;
  animation-duration: 1000ms;
  margin: 62px auto 0 178px;
}

.u-section-2 .u-image-2 {
  width: 185px;
  height: 136px;
  animation-duration: 1000ms;
  margin: -135px 202px 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 139px 842px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  width: 820px;
  margin: 62px auto 0;
}

.u-section-2 .u-image-3 {
  width: 541px;
  height: 112px;
  animation-duration: 1000ms;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1154px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 718px;
  }

  .u-section-2 .u-text-2 {
    width: 708px;
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 90px;
    margin-right: 575px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-left: 538px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 52px;
    margin-left: 90px;
  }

  .u-section-2 .u-image-2 {
    height: 135px;
    margin-top: -125px;
    margin-right: 90px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 131px;
    margin-right: 642px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 71px;
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 52px;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1187px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 498px;
  }

  .u-section-2 .u-text-2 {
    width: 558px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 415px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 386px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 81px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -124px;
    margin-right: 81px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 422px;
  }

  .u-section-2 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    width: 441px;
    height: 86px;
    margin-top: 35px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1248px;
  }

  .u-section-2 .u-text-1 {
    width: 222px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 318px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -96px;
    margin-left: 296px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 35px;
    margin-left: 30px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -136px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-5 {
    width: 298px;
    margin-top: 170px;
    margin-left: 121px;
    margin-right: 121px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1450px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: 222px;
    margin-top: 436px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: 244px;
    margin-top: -410px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 349px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -450px;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 429px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 59px;
    width: 305px;
    margin-top: 29px;
    margin-bottom: 48px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1467px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 95px 797px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 67px 608px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 111px 0 0 610px;
}

.u-section-3 .u-image-1 {
  width: 507px;
  height: 132px;
  animation-duration: 1000ms;
  margin: -128px auto 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 2.25rem;
  background-image: none;
  font-weight: 700;
  margin: -132px 530px 0 570px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 203px 0 0 610px;
}

.u-section-3 .u-image-2 {
  width: 507px;
  height: 123px;
  animation-duration: 1000ms;
  margin: -96px auto 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -123px 530px 0 570px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 136px 680px 0 0;
}

.u-section-3 .u-image-3 {
  width: 639px;
  height: 375px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 69px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 70px;
    margin-right: 597px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 53px;
    margin-left: 204px;
    margin-right: 204px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 96px;
    margin-left: 618px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -162px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -162px;
    margin-right: 334px;
    margin-left: 566px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 618px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -141px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -133px;
    margin-right: 334px;
    margin-left: 566px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 213px;
    margin-right: 480px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1478px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 72px;
    margin-right: 377px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 94px;
    margin-right: 94px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 70px;
    margin-right: 47px;
    margin-left: 110px;
  }

  .u-section-3 .u-image-1 {
    width: 417px;
    height: 107px;
    margin-top: 10px;
    margin-left: 110px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -213px;
    margin-right: 620px;
    margin-left: 47px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 251px;
    margin-left: 110px;
  }

  .u-section-3 .u-image-2 {
    width: 430px;
    height: 108px;
    margin-top: 9px;
    margin-left: 110px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -213px;
    margin-right: 604px;
    margin-left: 47px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 265px;
    margin-right: 260px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1448px;
  }

  .u-section-3 .u-text-1 {
    width: 343px;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 24px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 130px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: -295px;
    margin-right: 495px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 334px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 5px;
    margin-left: auto;
  }

  .u-section-3 .u-text-6 {
    margin-top: -258px;
    margin-right: 466px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: 329px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-3 .u-image-3 {
    width: 540px;
    height: 317px;
    margin-top: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1470px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-top: 52px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 36px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 94px;
  }

  .u-section-3 .u-image-1 {
    height: 75px;
    width: 286px;
    margin-top: 22px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -346px;
    margin-right: 287px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 440px;
  }

  .u-section-3 .u-image-2 {
    height: 72px;
    width: 286px;
    margin-top: 27px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -317px;
    margin-right: 271px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 386px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 200px;
    margin-top: 75px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}